html,
body {
  height: 100%;

}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #dce2ff;
  font-family: 'Poppins', sans-serif;
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
  font-weight: 300;
}


.form-signin .form-floating:focus-within {
  z-index: 2;
}

.top{
  margin-bottom: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.middle{
    margin-bottom: -1px;
    border-radius: 0;
}

.bottom{
  margin-bottom: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
